<!-- 
Copyright 2021 Panasonic Industry Devices Europe
Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.
3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->


<div class="scan-page bg-white" fxLayout="column">

  <!-- Headline -->
  <div class="headline" fxFlex="0 1 auto">
    <div class="dp-bold pt12 titel">BLUETOOTH</div>
    <div class="icon text-white icon-right">&#xe801;</div>
  </div>

  <!-- Scroll Container -->
  <div class="scroll-container" fxFlex="1 0 auto">

    <!-- BT Symbol -->
    <div class="image-container" fxLayout="row" fxLayoutAlign="center center">
      <div class="icon bt-symbol">&#xe804;</div>
    </div>

    <!-- BLE Device List -->
    <div class="list list-available">

      <!-- Title -->
      <div class="list-header dp-medium pt11 text-iron bg-diamond">
        AVAILABLE DEVICES
      </div>

      <!-- List -->
      <ul>
        <li *ngFor="let device of dataService.scannedBluetoothDevices" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">

            <!-- Name and Status -->
            <div fxLayout="column" fxLayoutAlign="center start" (click)=connect(device)>
              <div class="dp-regular pt13">{{device.name ? device.name : "Unknown"}}</div>
              <div class="dp-regular pt13"
                [ngClass]="{ 'text-turqoise': device.connected, 'text-iron': !device.connected }">{{device.status}}
              </div>
            </div>
            <!-- Buttons -->
            <div *ngIf="!device.connected" class="icon icon-turqoise text-turqoise" (click)=connect(device)>&#xe81a;</div>
            <div *ngIf="device.connected" fxLayout="row" fxLayoutAlign="end center">
              <div class="icon icon-red" (click)="disconnect(device)">&#xe81a;</div>
              <div class="icon icon-turqoise text-white icon-next" (click)=connect(device)></div>
            </div>

          </div>
        </li>
      </ul>

    </div>
  </div>

  <!-- Footer with scan button -->
  <div class="footer" fxLayout="row" fxLayoutAlign="center start" fxFlex="0 1 auto">
    <div class="footer-btn dp-bold pt11 text-white bg-turqoise ripple" fxLayout="row" fxLayoutAlign="center center"
      (click)=scan()>{{scanning ? 'SCANNING...':'SCAN'}}</div>
  </div>

</div>